* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;

}

.page1 {

  width: 100vw;
  background-image: url(two-beautiful-women-stylish-faux-fur-coats-wool-scarf-posing-turquoise-wall.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

}

.ri-menu-line{
  display: none;
}
.page1 nav {
  width: 100%;


  display: flex;
  justify-content: space-between;
  background-color:#ffffff;
  align-items: center;
padding: 0 3vw;
}

.logo img {
  height: 5vw;
  width: 14vw;
  object-fit: cover;
}

.services {
  display: flex;
  gap: 8%;
  margin-right: 25%;


}

.services a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;

}
.services a:hover{
 transform: scale(0.95);
  font-weight: 500;
}
.icons {
  display: flex;
  gap: 15px;
}

.icons i {

  font-size: 23px;
  font-weight: 500;
}


.hero-page {
  display: flex;
  flex-direction: row;
  padding: 0.5% 2%;

}

.left {
  width: 50%;
  height: 100%;
padding-top: 5vw;
padding-bottom: 1vw;

}

.season-sale {
  display: flex;
  flex-direction: column;
gap: 5%;
  text-align: center;

}

.season-sale h2 {
  font-size: 35px;
  font-style: italic;
  color: rgb(2, 0, 90);
  font-weight: 600;
  text-shadow: 10px 10px 10px rgb(78, 77, 77);
  text-transform: capitalize;
}

.season-sale h1 {
  font-size: 75px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px rgb(78, 77, 77);
  letter-spacing: 5px;

}

.season-sale h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: rgb(2, 0, 90);
  font-weight: 700;
  text-shadow: 10px 10px 10px rgb(78, 77, 77);
  text-transform: capitalize;

}

.shop-btn {
  display: flex;
  gap: 2vw;
  justify-content: center;
padding: 5vw;
}

button {
  padding: 1.5% 2%;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;

}

.blue-btn {
  background-color: rgb(24, 82, 255);
  color: white;
  border: none;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);


}

.blue-btn:hover,
.white-btn:hover {
  background-color: rgb(250, 112, 0);
  color: rgb(255, 255, 255);
  transition: all 0.5s 0.1s;
  transform: scale(0.95);
}

.orrenge-btn:hover {
  cursor: pointer;
 transform: scale(0.95);

}

.white-btn {
  color: rgb(24, 82, 255);
  border: 2px solid rgb(24, 82, 255);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.right {
  width: 50%;
  height: 100%;

}